:root {
    background-color: #121212;
    color: #FAFAFA;
    max-width: 100%;
    max-height: 100%;
    font-family: arial;
}

/* General elements */

body {
    display: flex;
    justify-content: center;
    flex: 1;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

/* Title element */

#title {
    margin: 0;
}

/* Portrait element */

#portrait {
    filter: grayscale(1);
    transform: scale(80%);
    text-align: center;
    object-fit: contain;
}

/* Links element */

#links {
    margin-top: 1em;
}

#links img{
    cursor: pointer;
    max-width: 10%;
}

#links p {
    cursor: pointer;
    font-weight: bold;
}

#links a{
    text-decoration: none;
    color: lightblue;
    border: 1px solid white;
    padding: 1em;
    
}

/* Media queries */

@media screen and (max-width: 500px) {
    :root { font-size: 12px; }
    img { width: 100vw; }
    body { padding-left: 1em; }
}