:root {
    background-color: #121212;
    color: white;
    max-width: 100%;
    max-height: 100%;
    font-family: arial;
}

/* general elements */

body {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

/* Portrait element */

#portrait {
    filter: grayscale(1);
    transform: scale(80%);
    text-align: center;
}

/* Links element */

#links img{
    cursor: pointer;
    max-width: 10%;
}

#links p {
    cursor: pointer;
    font-weight: bold;
}

#links a{
    text-decoration: none;
    color: lightblue;
    border: 1px solid white;
    padding: 5px;
    
}

/* X element */

